$logoFont: 'Tilt Prism', cursive;

html {
    font-size: 125%;
    color: #9c89ff;
}


body {
    margin: 0;
    height: 100vh;
    cursor: url('../assets/dragon.png'), text;
    overflow-x: hidden;
    background-color: #c4feff;
}

span {
  margin: 15px;
}

.imgBox {
  border: 10px solid #99cced;
}

figcaption {
  font-size: 30px;
  margin: 10px;
}

h1 {
  padding-top: 50px;
  font-family: $logoFont;
  font-size: 70px;
  letter-spacing: 2.5px;
  margin: 10px;
  
}

h2 {
  font-size: 40px;
  font-family: $logoFont;
  letter-spacing: 2.5px;
}

a {
    text-decoration: none;
    color: #9c89ff
}
.textCenter {
    text-align: center;
}

p {
  font-family: $logoFont;
}

img {
  width: auto;
  max-width: 100%;
  height: 500px;
  margin-top: 50px;
}